[Unit]
Description=Spring Auth App
After=syslog.target

[Service]
User=spring-auth
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=prod /home/ubuntu/spring-auth/target/spring-auth-0.1.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target